* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body {
    display: grid;
    grid-template-rows: 1fr 7fr;
    height: 100vh;
}

div.header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 500px 3fr 1fr;
    min-height: 10vh;
}

div.content {
    grid-row: 2 / 3;
    background-color: darkblue;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

div.weather-data-wrapper {
    background-color: lightblue;
    min-width: 80%;
    min-height: 100%;
    display: grid;
    grid-template-rows: repeat(6, calc(100 / 6));
}

div.one-day-view {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

div.day-info {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    min-width: 1000px;
    align-items: center;
    justify-items: center;
}

div.info-pt1, div.info-pt2 {
    display: flex;
    flex-direction: column;
    font-size: 2em;
}

div.day-select-bar {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.seven-day-view {
    display: grid;
    grid-template-rows: 3em repeat(7, 1fr);
    max-height: 90vh;
}

div.hidden {
    display: none;
}

.day-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    --view-height: calc(90vh - 3em);
    grid-template-rows: calc(var(--view-height) / 7);
}

.day-row-date {
    grid-column: 1 / 2;
}

.day-row-icon {
    transform: scale(0.4) translateY(-85%);
    --view-height: calc(90vh - 3em);
    --day-row-height: calc(var(--view-height) / 7);
    justify-self: start;
    align-items: start;
}

.temps {
    display: flex;
}